@import 'frontend/components/post/post.css';
@import './frontend/components/loader/loader.css';
@import "frontend/components/about/about.css";

:root {
    --color-secondary: #606060;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.hidden {
    display: none;
}
