<div class="statistic-header">
    Статистика
</div>
<div class="statistic-list">
    {{#each statistics}}
        <div class="statistic-data">
            {{this}}
        </div>
    {{/each}}
</div>