.statistics {
    margin: 10px 80px 10px 20px;
    width: 25%;
}

.statistic-header {
    padding: 10px 5px;
    border-bottom: 1px solid grey;
}

.statistic-data {
    padding: 2px 5px;
    border-bottom: 1px solid grey;
    font-size: 18px;
}
