.feed {
    margin: 0 25px
}

.post {
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 24px;
    padding: 16px 16px 8px 16px;
}

.header {
    display: flex;
}

.header-author {
    margin-right: 8px;
    color: #0f0f0f;
    margin-bottom: 2px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.8rem;
}

.header-date {
    color: #606060;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 14px;
    line-height: 1.8rem;
    font-weight: 400;
}

.text {
    color: #0f0f0f;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 400;
}

.video-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 5px 0;
}

.video-content {
    max-width: 600px;
    min-width: 0;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    flex: 1;
    flex-basis: 9px;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.video-title {
    color: #0f0f0f;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 18px;
    line-height: 2.2rem;
    font-weight: 400;
    max-height: 2.2rem;
    overflow: hidden;
    display: block;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

.video-subtitle {
    color: #606060;
    padding-top: 8px;
    margin-bottom: 8px;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 15px;
    line-height: 1.1;
    font-weight: 400;
    max-height: 3.6rem;
    overflow: hidden;
    display: block;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

.image-link {
    border-radius: 15px;
}

.rating-content {
    display: flex;
}

.like-img, .dislike-img, .comments-img {
    height: 20px;
}
