.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 10;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);

}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main-container {
    margin-left: 160px;
    padding: 0px 10px;
}

@media (max-width: 720px), (orientation: portrait) {
    .sidenav {
        width: 200px;
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 38px;
    }
}