<div class="main-header">
    <div class="sidebar-hamburger-div">
        <img class="sidebar-hamburger-img" src={{hamburgerPhoto}}>
    </div>
    <div class="logo-div">
        <img class="logo-img" src={{logoPhoto}}>
    </div>
    <div class="search-box">
        <input class="search-input" placeholder="Введите запрос">
        <button class="search-btn">
            <img class="search-img" src={{searchPhoto}}>
        </button>
    </div>
</div>
<div class="sub-header">
    <div class="main-tab-div">
        <a class="main-tab-a">Главная</a>
    </div>
    <div class="video-tab-div">
        <a class="video-tab-a">Видео</a>
    </div>
    <div class="community-tab-div">
        <a class="community-tab-a" href=".">Сообщество</a>
    </div>
    <div class="about-tab-div">
        <a class="about-tab-a" href="about">О канале</a>
    </div>
</div>
